
header{
  font-family: 'Poiret One', cursive;
  text-align: center;
  background-color: #2BBDED;
  margin: 0px 0px 0px 0px;
  padding: 30px 30px 30px 30px;
  /*box-shadow: 10px 10px 5px #888888;*/
}
footer{
  font-family: 'Poiret One', cursive;
  text-align: center;
  background-color: #2BBDED;
  margin: 200px 0px 0px 0px;
  padding: 20px 30px 20px 30px;
}
.navBar{
  /*padding: 30px 30px 30px 30px;*/
  background-color: dark blue;
  align-content: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}
li {
    font-family: 'Poiret One', cursive;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    /*padding: 5px 5px;*/
    margin: 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.top{
  background-color: gray;
  padding: 20px 20px 20px 20px;
}

body{
  font-family: 'Poiret One', cursive;
  background-color: gray;
}
