header{
  text-align: center;
  background-color: #2BBDED;
  margin: 0px 0px 100px 0px;
  padding: 30px 30px 30px 30px;
  box-shadow: 10px 10px 5px #888888;
}

footer{
  text-align: center;
  background-color: #2BBDED;
  margin: 200px 0px 0px 0px;
  padding: 20px 30px 20px 30px;

}
h1 {
  text-align: center;
}

.navBar{
  padding: 30px 30px 30px 30px;
  background-color: dark blue;
  align-content: center;

}

.signUpForm{
  align-content: center;
}
tr{
  padding: 100px 50px 50px 50px;
}
.form-group{
  background-color: green;
  padding: 100px 100px 100px 100px;
  align-content: center;
}
body{
  background-color: gray;
};
