header{
  text-align: center;
  background-color: #2BBDED;
  margin: 0px 0px 100px 0px;
  padding: 30px 30px 30px 30px;
  box-shadow: 10px 10px 5px #888888;
}

footer{
  text-align: center;
  background-color: #2BBDED;
  margin: 200px 0px 0px 0px;
  padding: 20px 30px 20px 30px;

}
h1 {
  text-align: center;
}
#formTable{
  /*background-color: red;*/
}
.top{
  /*background-color: purple;*/
}
#displayReviews{
  /*background-color: yellow;*/
  padding: 10px 10px 10px 10px;

}
.navBar{
  padding: 30px 30px 30px 30px;
  background-color: dark blue;
  align-content: center;

}
.uvas{
  align-content: center;
  margins: 0px 30px 0px 80px;
  padding: 10px 10px 10px 10px;
}
.signUpForm{
  align-content: center;
}

table, th{
  padding: 10px 10px 10px 10px;
}

.form-group{
  /*background-color: green;*/
  padding: 10px 10px 10px 10px;
  align-content: center;

}
.reviewsViewed th{
  /*background-color: red;*/
}

body{
  background-color: gray;
};
