<!-- <div class="login" >
   <form action="/" id="formId" method="post">
     <div>
       <label for="username"> Username </label>
       <input type="text" name="username" id="username">
     </div>
     <div>
       <label for="password">Password:</label>
       <input type="password" name="password" id="password">
     </div>
     <div id='go'>
       <a href= "#success" > Log In </a>
     </div>
     <div id='signUp'>
       <a href= "#signUp" > sign up </a>
     </div>
     <div id='logOut'>
       <a href= "#logOut" > Log Out </a> -->
     <!-- </div> -->
   <!-- </form> -->
 <!-- </div> -->

<button class="logInGoogle">Sign in with Google (redirect)</button><br>
<button class="signin-google-popup">Sign in with Google (popup)</button><br>
<br><p>--- or ---</p>
<label>Email</label><input type="text" id="email"><br>
<label>Password</label><input type="password" id="password"><br>
<button class="signin-db">Sign in with Email/Password</button>
<script src="https://cdn.auth0.com/w2/auth0-6.7.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script>
  var auth0 = new Auth0({
    domain:         'primetime.auth0.com',
    clientID:       'tfynhUQ3sH7fUv9UCDd5leqe4MyWkfBM',
    callbackURL:    ''
  });

  // sign-in with social provider with plain redirect
<div ng-click = "logInGoogle()">

 // $('.signin-google').on('click', function() {
 //    console.log( 'signin google clicked');
 //    auth0.signin({connection: 'google-oauth2'}); // use connection identifier
 //  });



  // sign-in with social provider using a popup (window.open)
  $('.signin-google-popup').on('click', function() {
    auth0.signin({popup: true, connection: 'google-oauth2'},
                function(err, profile, id_token, access_token, state) {
                    /*
                      store the profile and id_token in a cookie or local storage
                        $.cookie('profile', profile);
                        $.cookie('id_token', id_token);
                    */
                });
  });

  $('.signin-db').on('click', function() {
    auth0.signin({
      connection: 'foo',
      username: 'bar',
      password: 'foobar'
    },
    function (err, profile, id_token, access_token, state) {
      /*
          store the profile and id_token in a cookie or local storage
            $.cookie('profile', profile);
            $.cookie('id_token', id_token);
        */
    });
  });
</script>
</form>
</div>
