<div class="login" >
   <form action="/" id="formId" method="post">
     <div>
       <label for="username"> Username </label>
       <input type="text" name="username" id="username">
     </div>
     <div>
       <label for="password">Password:</label>
       <input type="password" name="password" id="password">
     </div>
     <div id='logIn'>
       <a href= "#logIn" > Log In </a>
     </div>
     <div id='signUp'>
       <a href= "#signUp" > sign up </a>
     </div>
     <div id='logOut'>
       <a href= "#logOut" > Log Out </a>
     </div>
   </form>
 </div>
