<body>
  <h1>Sign up here</h1>
  <div class="signUp">
      <form action="/signUp" id="signUp" method="post">
          <div>
            <label for="username">  Username </label>
            <input type="text" name="username" id="username">
          </div>
          <div>
            <label for="password"> Password: </label>
            <input type="password" name="password" id="password">
          </div>
          <div>
            <label for="zip code"> Zip Code: </label>
            <input type="zip" name="zip" id="zip">
          </div>
          <div>
            <label for="Cohort"> Cohort: </label>
            <input type="cohort" name="cohort" id="cohort">
          </div>
          <div>
            <input type="submit" value="Sign Me Up">
          </div>
          <div id='logIn'>
              <button type="button" name="button"> <a href= "/logIn"> Log In </a></button>
          </div>
          <div id='logOut'>
              <button type="button" name="button"> <a href= "/logOut" > Log Out </a></button>
          </div>
        </form>
      </div>
</body>
