<!-- <div ng-controller="successController"> -->
  <h1> Hello </h1>
  <h3>Please tell us about your company: </h3>
      <!-- <form name="inputForm"> -->
    <label for="userReview"></label>
      <form>
        <div class="form-group">
        <table>
          <tr>
            <th>
              Company Name:
            </th>
            <th>
              <input type="text" name="name" value="" ng-model="companyNameModel">
            </th>
          </tr>
          <tr>
            <th>
              Salary Rating:
            </th>
            <th>
              <uib-rating ng-model="salaryModel" max="max" on-hover="hoveringOver(value)" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar">{{percent}}%</span>
            </th>
          </tr>
          <tr>
            <th>
            Leadership Rating:
          </th>
          <th>
             <uib-rating ng-model="leadershipModel" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
             <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar" >{{percent}}%</span>
          </th>
        </tr>
        <tr>
          <th>
            Review of company:
          </th>
          <th>
            <textarea rows="4" cols="50" name="review" value="" ng-model="reviewModel">
            </textarea>
          </th>
        <tr>
        </tr>
        <tr>
         <th>
          <button type="button" ng-click="submitReview();" name="button">  Submit Review </button>
         </th>
       </tr>
    </div>

  <div class="form-group">
    <table>
      <tr>
        <th>
          Search for a review
        </th>
        <th>
          <input type="text" value="" ng-model="searchedModel">
        </th>
        <th>
          <button type="button" ng-click="search();" name="button">Search</button>
        </th>
      </tr>
    </table>
  </div>
</form>
<h1> Welcome, Primer </h1>
  <h3>Please enter your top three priorities in order</h3>
      <!-- <form name="inputForm"> -->
        <label for="userPreferences"></label>
      <form>
        <div class="form-group">
        <table>
          <tr>
            <th>Overall Rating</th>
            <th>Culture and Values Rating</th>
            <th>Senior Leadership Rating </th>
            <th>Compensation and Benefits Rating</th>
            <th>Work Life Balance Rating</th>
            <th>Career Opportunities Rating</th>
            <th>Recommend to Friend Rating</th>
          </tr>
          <tr>
            <th>
              <select name="overallRating" id="overallRating" ng-model="overallRatingModel">
                <option value="">---n/a---</option> <!-- not selected / blank option -->
                <option value="1">First Priority</option>
                <option value="2">Second Priority</option>
                <option value="3">Third Priority</option>
              </select>
            </th>
            <th>
              <select name="cultureAndValuesRating" id="cultureAndValuesRating" ng-model="cultureAndValuesRatingModel">
                <option value="">---n/a---</option> <!-- not selected / blank option -->
                <option value="1">First Priority</option>
                <option value="2">Second Priority</option>
                <option value="3">Third Priority</option>
              </select>
            </th>
            <th>
              <select name="seniorLeadershipRating" id="seniorLeadershipRating" ng-model="seniorLeadershipRatingModel">
                <option value="">---n/a---</option> <!-- not selected / blank option -->
                <option value="1">First Priority</option>
                <option value="2">Second Priority</option>
                <option value="3">Third Priority</option>
              </select>
            </th>
            <th>
              <select name="compensationAndBenefitsRating" id="compensationAndBenefitsRating" ng-model="compensationAndBenefitsRatingModel">
                <option value="">---n/a---</option> <!-- not selected / blank option -->
                <option value="1">First Priority</option>
                <option value="2">Second Priority</option>
                <option value="3">Third Priority</option>
              </select>
            </th>
            <th>
              <select name="workLifeBalanceRating" id="workLifeBalanceRating" ng-model="workLifeBalanceRatingModel">
                <option value="">---n/a---</option> <!-- not selected / blank option -->
                <option value="1">First Priority</option>
                <option value="2">Second Priority</option>
                <option value="3">Third Priority</option>
              </select>
            </th>
            <th>
              <select name="careerOpportunitiesRating" id="careerOpportunitiesRating" ng-model="careerOpportunitiesRatingModel">
                <option value="">---n/a---</option> <!-- not selected / blank option -->
                <option value="1">First Priority</option>
                <option value="2">Second Priority</option>
                <option value="3">Third Priority</option>
              </select>
            </th>
            <th>
              <select name="recommendToFriendRating" id="recommendToFriendRating" ng-model="recommendToFriendRatingModel">
                <option value="">---n/a---</option> <!-- not selected / blank option -->
                <option value="1">First Priority</option>
                <option value="2">Second Priority</option>
                <option value="3">Third Priority</option>
              </select>
            </th>
          </tr>
          <tr> <div ng-repeat="results in resultsArray">
            <th>
              {{ resultsArray[0].overall }}
            </th>
            <th>
              {{ resultsArray[0].cultureAndValuesRating }}
              {{ allglassdoorJobs[0].Name }}
            </th>
            <th>
              {{ resultsArray[0].seniorLeadershipRating }}
            </th>
            <th>
              {{ resultsArray[0].compensationAndBenefitsRating }}
            </th>
            <th>
             {{ resultsArray[0].workLifeBalanceRating }}
            </th>
            <th>
              {{ resultsArray[0].careerOpportunitiesRating }}
            </th>
            <th>
              {{ resultsArray[0].recommendToFriendRating }}
            </th>
          </tr>
        </div>
        <th>
          <button type="button" ng-click="glassdoorSearch();" name="button">  Search </button>
        </th>

    </div>
  </form>
  <!-- <button type="button" name="button"> <a href= "/logOut" > Log Out </a></button> -->
<!-- </div> -->
