<html ng-app="myApp">
<body>
  <div ng-controller='homeController'>
    <h1 id="welcome" class="lead"> Welcome, {{userName}}! </h1>

  <div class="container">
    <div class="searchNav" ng-include="'/views/partials/searchNav.html'"></div></div>
      <div class='top'>
        <table ng-show='topHalf' id="formTable">
          <h3>Please tell us about your company: </h3>
          <tr>
            <th> Company Name in submit: </th>
            <th> <input type="text" name="name" value="" ng-model="companyNameModel"> </th>
          </tr>
          <tr>
            <th> Salary Rating: </th>
            <th> <uib-rating ng-model="salaryModel" max="max" on-hover="hoveringOver(value)" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
            <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar">{{percent}}%</span></th>
          </tr>
          <tr>
            <th>Leadership Rating:</th>
            <th><uib-rating ng-model="leadershipModel" max="max" on-hover="hoveringOver(value)" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
            <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar" >{{percent}}%</span></th>
          </tr>
          <tr>
              <th> Review of company:</th>
              <th><textarea rows="4" cols="50" name="review" value="" ng-model="reviewModel"></textarea></th>
          <tr>
           <th><button type="button" class="btn btn-default" ng-click="submitReview();" name="button"> Submit Review </button></th>
         </tr>
      </div>
<!-- END OF NG SHOW TOP  -->

<!--- HERE ARE THE BUTTONS ----------------->
      <!-- <button class="btn btn-default" ng-click="showReviews()"> Show All Reviews </button> -->
      <!-- <button class="btn btn-default" ng-click="logout()"> Log Out </button> -->
      <!-- <button class="btn btn-default" ng-click="search()"> Search Glassdoor </button> -->
      <!-- <button class="btn btn-default" ng-click="leadershipSearch()"> Search by Leadership </button>
      <button class="btn btn-default" ng-click="salarySearch()"> Search by Salary </button> -->


<!-- THIS IS WHERE THE ORIGINAL SHOW IS -->


<!-- THIS IS THE ONE YOU WANT TO SHOW TO DISPLAY THE REVIEW THAT THE USER JUST ENTERED -->
<div class = "reviewDisplay">
  <table ng-show="justEnteredForm">
    <tr ng-show="justEnteredForm" ng-repeat = "record in reviewArray" >
    <th>Reviewer </th>
    <th>Company Name </th>
    <th>Salary Rating</th>
    <th>Leadership Rating</th>
    <th>Review</th>
  </tr>
  <tr ng-show="justEnteredForm" >
    <th> {{record.author}} </th>
    <th> {{record.company_name}} </th>
    <th> {{record.salary}} </th>
    <th> {{record.leadership}} </th>
    <th> {{record.review}} </th>
    <!-- <th> <input type="button" value="Delete"  class="btn btn-primary" ng-click = "deleteReview(record.id)"/> </th> -->
    <!-- <th> <input type="button" value="Edit"  class="btn btn-primary" ng-click = "editReview(record.id);"/> </th> -->
  </tr>
  <tr>
    <div class="reviewsViewed">
      <form class="inline">
         <input ng-model="query" type="text"
           placeholder="Search for keyword" autofocus>
        </form>
      </div>
  </tr>
</table>
</div>

<div>
  <table ng-show="salaryShow">
    <tr ng-show="salaryShow">
    <th>Reviewer</th>
    <th>Company Name </th>
    <th>Salary Rating</th>
    <th>Leadership Rating</th>
    <th>Review</th>
  </tr>
  <tr ng-show="salaryShow" ng-repeat = "record in salaryArray" >
    <th> {{ record.author }} in salary show </th>
    <th> {{ record.company_name }} </th>
    <th> {{ record.salary }} </th>
    <th> {{ record.leadership}} </th>
    <th> {{ record.review}} </th>
  </tr>
</table>
</div>

<!-- -->
<div>
  <table>
  <tr ng-show="leadershipShow">
   <th>Reviewer</th>
   <th>Company Name </th>
   <th>Salary Rating</th>
   <th>Leadership Rating</th>
   <th>Review</th>
  </tr>
  <tr ng-show="leadershipShow" ng-repeat = "record in leadershipArray" >
   <th> {{ record.author }} in leadership show </th>
   <th> {{ record.company_name }} </th>
   <th> {{ record.salary }} </th>
   <th> {{ record.leadership}} </th>
   <th> {{ record.review}} </th>
  </tr>
</table>
</div>

</div>
<!-- </div> -->
</body>
</html>
