<body ng-show="leadershipShow">
<div>
<div ng-include="'/views/partials/searchNav.html'"></div>
  <table>
    <tr>
    <form class="inline">
      <input ng-model="query" type="text"
      placeholder="Search for keyword" autofocus>
    </form>
    </tr>
  </table>
  <table >
    <tr>
      <th>Reviewer</th>
      <th>Company Name </th>
      <th>Salary Rating</th>
      <th>Leadership Rating</th>
      <th>Review</th>
    </tr>
    <tr ng-repeat = "record in leadershipArray | filter:query ">
      <th> {{record.author}} </th>
      <th> {{record.company_name }} </th>
      <th> {{record.salary}} </th>
      <th> {{record.leadership}} </th>
      <th> {{record.review}} </th>
    </tr>
  </table>
</div>
</body>
