<div class="form-group">
<form>
  <!-- used to have ng-submit="signUpNewUser()" in form -->
  <table>
      <tr>
      <th>
        <label for="username">Username:</label>
      </th>
      <th>
        <input type="text" ng-model="user.username" />

      </th>
      </tr>
      <tr>
        <th>
          <label for="password">Password:</label>
        </th>
        <th>
          <input type="password" ng-model="user.password" />
        </th>
      </tr>
      <tr>
        <th>
          <label for="zip">Zip:</label>
        </th>
        <th>
          <input type="text" ng-model="user.zip" />
        </th>
      </tr>
      <tr>
        <th>
          <label for="cohort"> Cohort:</label>
        </th>
        <th>
          <input type="text" ng-model="user.cohort" />
        </th>
      </tr>
      <tr>
        <th>
          <input class="btn btn-default" type="submit" name="submit" ng-click="signUpNewUser()" value="Sign Up" />
        </th>
      </tr>
    <!-- <a href="#logIn">Cancel</a> -->
  </form>
</table>

</div>
